
<form>
    <table class="table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
      <tr>
          <th style="width:25%; text-align: center" class="bg-primary">Appointment Schedule</th>
          <th style="width: 25%; text-align: center"><a href="http://localhost:4200/create">Create Appointment</a></th>
          <th style="width: 25%; text-align: center">Preferences</th>
          <th style="width: 25%; text-align: center">Profile</th>          
          </tr>
      </thead>
      <tbody>
      <tr style="text-align: center">
        <td>June 4, 2018 {{this.day}}</td>
      </tr>
      <tr>
        <td id="nine">&nbsp;9:00-10:00am</td>
        <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
        <!--<td><span *ngIf="patient.time == Nine">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="ten">10:00-11:00am</td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Ten">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="eleven">11:00-12:00pm</td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Eleven">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="twelve">&nbsp;12:00-1:00pm</td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Twelve">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="one">&nbsp;1:00-2:00pm</td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == One">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="two">&nbsp;2:00-3:00pm</td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Two">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="three">&nbsp;3:00-4:00pm</td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Three">Appointment Scheduled</span></td>-->
      </tr>
      <tr>
          <td id="four">&nbsp;4:00-5:00pm </td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Four">Appointment Scheduled</span></td>-->
      </tr>
      <tr> 
          <td id="five">&nbsp;5:00-6:00pm </td>
          <!--Need to get ngIf working to display span of Appointment Scheduled if match patient's time-->
          <!--<td><span *ngIf="patient.time == Five">Appointment Scheduled</span></td>-->    
      </tbody>
      <tfoot>
      <tr>
          <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
      </tr>
      </tfoot>
  </table>