

<div class="container" style="max-width:600px;margin:10px auto;">
    <h1 style="color: black; text-align: center">Make an Appointment</h1>
    <form [formGroup]="create" (ngSubmit) = "createAppointment()">
       <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="fname" formControlName="name" placeholder="Enter Name">
       </div>
       <div class="form-group">
          <label for="age">Age</label>
          <input type="age" class="form-control" id="sname" formControlName="age" placeholder="Enter Age">
       </div>
       <div class="form-group">
          <label for="city">City</label>
          <input type="city" class="form-control" id="email" formControlName="city" placeholder="Enter City">
       </div>
       <div class="form-group">
          <label for="mes">Medication</label>
          <input type="meds" class="form-control" id="meds" formControlName="meds" placeholder="Enter Your Medication(s)">
       </div>
       <div id="caretype" style="margin: 20px 0px;">
          <div class="main">
            <div class="wrapper">
              <span>Care Needed</span>
              <div class="field">
                <select name="stime"id="stime">
                  <option value="bath">Bath</option>
                  <option value="full time">Full Time</option>
               
               </select>
                <!--<input type="submit" formControlName="careeed" value="Submit">-->
              </div>
            </div>
          </div>
        </div>
          <div id="starttime">
              <div class="main">
                <div class="wrapper">
                  <span>Start Time</span>
                  <div class="field" style="margin-bottom: 15px">
                    <select id="time">
                      <option value="Nine">9:00am</option>
                      <option value="Ten">10:00am</option>
                      <option value="Eleven">11:00am</option>
                      <option value="Twelve">12:00pm</option>
                      <option value="One">1:00pm</option>
                      <option value="Two">2:00pm</option>
                      <option value="Three">3:00pm</option>
                      <option value="Four">4:00pm</option>
                      <option value="Five">5:00pm</option>
                   </select>
                  </div>
                </div>
              </div>
            </div>
              <div>
                  <div style="margin-bottom: 20px;">
                    <div class="wrapper">
                      <span>End Time</span>
                      <div class="field">
                        <select id="etime">
                          <option value="Ten">10:00am</option>
                          <option value="Eleven">11:00am</option>
                          <option value="Twelve">12:00pm</option>
                          <option value="One">1:00pm</option>
                          <option value="Two">2:00pm</option>
                          <option value="Three">3:00pm</option>
                          <option value="Four">4:00pm</option>
                          <option value="Five">5:00pm</option>
                       </select>
                      </div>
                    </div>
                  </div>
              </div>
             
              <a button type="submit" id="create" class="btn btn-primary" value="create" (click)="createAppointment()">Make Appointment</a>
              <a href="http://localhost:4200/login" button type="submit" class="btn btn-primary" style="float: right">Logout</a>
    </form>
  
