
<!--To DO: Bootstrap styling-->
<div id="caretype" style="margin:50px 0px;">
    <div class="main">
      <div class="wrapper" style="width:60%; margin:0 auto;">
        <span>Care Needed</span>
        <div class="field" style="margin-bottom:35px;">
          <select id="stime">
            <option value="bath">Bath</option>
            <option value="Full Time">Full Time</option>
         
         </select>
        </div>
      </div>
    </div>
  </div>
    <div id="starttime" style="margin:50px 0px;">
        <div class="main">
          <div class="wrapper" style="width:60%; margin:0 auto;">
            <span>Start Time</span>
            <div class="field" style="margin-bottom:35px;">
              <select id="stime">
                <option value="Nine">9:00am</option>
                <option value="Ten">10:00am</option>
                <option value="Eleven">11:00am</option>
                <option value="Twelve">12:00pm</option>
                <option value="One">1:00pm</option>
                <option value="Two">2:00pm</option>
                <option value="Three">3:00pm</option>
                <option value="Four">4:00pm</option>
                <option value="Five">5:00pm</option>
             </select>
            </div>
          </div>
        </div>
      </div>
        <div id="endtime" style="margin:50px 0px;">
            <div class="main">
              <div class="wrapper" style="width:60%; margin:0 auto;">
                <span>End Time</span>
                <div class="field" style="margin-bottom:35px;">
                  <select id="etime">
                    <option value="Ten">10:00am</option>
                    <option value="Eleven">11:00am</option>
                    <option value="Twelve">12:00pm</option>
                    <option value="One">1:00pm</option>
                    <option value="Two">2:00pm</option>
                    <option value="Three">3:00pm</option>
                    <option value="Four">4:00pm</option>
                    <option value="Five">5:00pm</option>
                 </select>
                </div>
              </div>
            </div>
        </div>
        <div>
            <button type="button" style="margin: auto" action="submit" class="btn btn-primary btn-sm">Make Appointment</button>
