
<form>

  <table class="table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
        <th style="width:19.5%">
            <mfDefaultSorter by="schedule"><a href="http://localhost:4200/calendar">Schedule</a></mfDefaultSorter>
        </th>
        <th style="width: 19.5%" class="bg-primary">
            <mfDefaultSorter by="patients">Available Patients</mfDefaultSorter>
        </th>
        <th style="width: 19.5%">
            <mfDefaultSorter by="notifications">Notifications</mfDefaultSorter>
        </th>
        <th style="width: 19.5%">
            <mfDefaultSorter by="supplies">Supplies Request</mfDefaultSorter>
        </th>
        <th style="width: 19.5%">
            <mfDefaultSorter by="profile">Profile</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    
    <tbody>      
</table>
<table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th style="width:12.5%; text-align: center">Name</th>
        <th style="width:12.5%; text-align: center">Age</th>
        <th style="width:12.%; text-align: center">Location</th>
        <th style="width:12.5%; text-align: center">Care Needed</th>
        <th style="width:12.5%; text-align: center">Date Needed</th>
        <th style="width:12.5%; text-align: center">Time</th>
        <th style="width:12.5%; text-align: center">Medication</th>
        <th style="width:12.5%; text-align: center">Add</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <tr *ngFor="let patient of patients">
        <td style="width:12.5%; text-align: center">{{ patient.name }}</td>
        <td style="width:12.5%; text-align: center">{{ patient.age }}</td>
        <td style="width:12.5%; text-align: center">{{ patient.location}}</td>
        <td style="width:12.5%; text-align: center">{{ patient.careneed }}</td>
        <td style="width:12.5%; text-align: center">{{ patient.dateneed }} </td>
        <td style="width:12.5%; text-align: center">{{ patient.time }} </td>
        <td style="width:12.5%; text-align: center">{{ patient.meds }}</td>
        <td align="center" style="width:12.5%; text-align: center"><button type="button" class="btn btn-primary btn-sm" (click)="addPatient()">Add</button></td>
             
      </tr>
    </tbody>
  </table>